@tailwind base;
@tailwind components;


* {
    font-family: 'Inter', sans-serif !important;
    -webkit-tap-highlight-color: transparent;
  }

html,
body {
  @apply bg-blueGray-50;
}

.window-drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.window-nodrag {
  -webkit-app-region: no-drag;
}

@tailwind utilities;
